
<div class="packet-fluid custom-footer">
  <div class="bar">
    <div class="slice-4  text-center text-md-left">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. All Right Reserved</div>
    <div class="slice-4 text-center">
      <ul class="footer-nav p-0">
        <li class="nav-item"> <a href="#">Careers</a> </li>
        <li class="nav-item"><a href="#">Privacy policy</a></li>
      </ul>
    </div>
    <div class="slice-4 text-center text-md-right"><a href="http://www.traveltripper.com/" target="_blank"><img src="/assets/images/ttlogo.png"  alt="Travel Tripper"/></a></div>
  </div>
</div>
