<div class="details-footer">
  <div class="details-row">
    <div class="details-col logo-container d-flex justify-content-center">
    <a class="logo" href="/"><img src="/assets/images/logo.svg" alt="The Mansfield Hotel"></a>
      <div class="social-container d-flex align-items-center">
      <a href="/" title="youtube" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="/" title="youtube" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="/" title="youtube" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      </div>
      <div class="details-col">
      <h3>Address</h3>
      <a href="#"> 12 West 44th Street <br>
      (Between 5th and 6th Avenues)<br>
      New York, New York 10036
      </a>
      </div>
      <div class="details-col">
      <h3>Contact</h3>
      <p>T. <a href="tel:212.277.8700"> 212.277.8700</a></p>
      <p>F. <a href="tel:212.764.4477"> 212.764.4477</a></p>
      <p>M Bar:<a href="mailto:mbar@mansfieldhotel.com">  mbar@mansfieldhotel.com</a></p>
      
      </div>
      <div class="details-col">
      <h3>Contact</h3>
      <p>T. <a href="tel:844.591.5565">844.591.5565</a></p>
      <p>M Bar:<a href="mailto:reservations@mansfieldhotel.com"> reservations@mansfieldhotel.com</a></p>
      </div>  
  </div>
</div>
<div class="packet-fluid custom-footer">
  <div class="bar">
    <div class="slice-4 text-left">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. All Right Reserved</div>
    <div class="slice-4 text-center">
      <ul class="footer-nav m-auto">
        <li class="nav-item"> <a href="#">Careers</a> </li>
        <li class="nav-item"><a href="#">Privacy policy</a></li>
      </ul>
    </div>
    <div class="slice-4 text-right"><img src="../../assets/images/ttlogo.png"  alt="Travel Tripper"/></div>
  </div>
</div>
