
<div class="packet-fluid custom-footer">
  <div class="bar">
    <div class="slice-4 text-left">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. All Right Reserved</div>
    <div class="slice-4 text-center">
      <ul class="footer-nav m-auto">
        <li class="nav-item"> <a href="#">Careers</a> </li>
        <li class="nav-item"><a href="#">Privacy policy</a></li>
      </ul>
    </div>
    <div class="slice-4 text-right"><img src="../../assets/images/ttlogo.png"  alt="Travel Tripper"/></div>
  </div>
</div>
