<div class="details-footer">
  <div class="details-row">
    <div class="details-col logo-container d-flex justify-content-center">
    <a class="logo" href="/"><img src="/assets/images/logo.svg" alt="The Mansfield Hotel"></a>
      <div class="social-container d-flex align-items-center">
      <div>
      <a href="/" title="youtube" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://twitter.com/themansfieldnyc" title="Follow on Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="/" title="youtube" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      </div>
      </div>
      <div class="details-col">
      <div class="details">
      <h3>Address</h3>
      <a href="https://www.google.com/maps/place/The+Mansfield+Hotel/@40.7550474,-73.9832716,17z/data=!3m1!4b1!4m5!3m4!1s0x89c258ffd93029b3:0x7212286386ebeace!8m2!3d40.7550474!4d-73.9810776" target="_blank"> 12 West 44th Street <br>
      (Between 5th and 6th Avenues)<br>
      New York, New York 10036
      </a>
      </div>
      
      </div>
      <div class="details-col">
       <div class="details">
       
      <h3>Contact</h3>
      <p>T. <a href="tel:212.277.8700"> 212.277.8700</a></p>
      <p>F. <a href="tel:212.764.4477"> 212.764.4477</a></p>
      <p>M Bar: <a href="mailto:mbar@mansfieldhotel.com">mbar@mansfieldhotel.com</a></p>
      </div>
      </div>
      <div class="details-col">
      <h3>Reservations</h3>
      <p>T. <a href="tel:844.591.5565">844.591.5565</a></p>
      <p>E. <a href="mailto:reservations@mansfieldhotel.com">reservations@mansfieldhotel.com</a></p>
      </div>  
  </div>
</div>


