<div class="location-cta">
	<h1 class="text-center">Join our mailing list, and stay informed:</h1>
	<div class="newsletter-form input-group">
				      <input type="email" class="form-control" placeholder="Enter Your Email Address" id="input_66" name="q3_email" aria-label="Your Email Address" required="required">
				      <span class="input-group-btn">
				        <button class="btn submit-btn" type="submit"> sign up </button>
				      </span>
	</div>
	{% include footer/info.html %} 
</div>

{% include footer/copyrights.html %} 