<div class="location-cta">
	<h1 class="text-center">Join our mailing list for exclusive offers</h1>
	<form class="jotform-form" action="https://submit.jotform.me/submit/72542229382457/" method="post" name="form_72542229382457" id="72542229382457" accept-charset="utf-8">
	<input type="hidden"  id="email" name="q3_email" value="72542229382457" /> 
	<div class="newsletter-form input-group">
				      <input type="email" class="form-control" placeholder="Enter Your Email Address" id="mailing" name="q3_email" aria-label="Your Email Address" required="required">
				      <span class="input-group-btn">
				        <button class="btn submit-btn" type="submit"> sign up </button>
				      </span>
	</div>
	<script> JotForm.showJotFormPowered = "0"; </script> <input type="hidden" id="simple_spc" name="simple_spc" value="72542229382457" /> <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "72542229382457-72542229382457"; </script>
	</form>
	<script type="text/javascript">JotForm.ownerView=true;</script>
	{% include footer/info.html %} 
</div>

{% include footer/copyrights.html %} 