---
layout: default
title: Manhattan Hotel Deals | Special Offers at The Mansfield
meta_description: From money-saving offers to the best room rates, booking direct with The Mansfield has its perks. Take advantage of these deals when you book direct here.
permalink: /special-details/
---

<section rt3-special-rates="offers" ng-controller="offerDetail">

  <section class="inner-hero-container" ng-style="{'background-image':'url('+offers.sRdetail.images[0].large+')'}"></section>

  <div class="packet banner-overlap-strip">
    <div class="bar">
      <div class="slice-9 hidden-md-down"></div>
      <div class="slice-3 p-0 hidden-md-down"></div>
    </div>
  </div>

  <div class="item-details">
    <div class="packet">
      <div class="bar">
        
        <div class="slice-9">
          <h4 ng-bind-html="offers.sRdetail.rate_plan_name | renderHTMLCorrectly"></h4>
          <p ng-bind-html="offers.sRdetail.long_description | renderHTMLCorrectly"></p>
          <div class="terms">
            Terms & Conditions
            <ul>
              <li ng-repeat="terms in offers.sRdetail.policy_description"><span ng-bind-html="terms | renderHTMLCorrectly"></span></li>
            </ul>
          </div>
          <a href="/specials/" class="link-btn white">Back to All Specials</a>
        </div>

        <div class="slice-3 p-0">
          <a ng-href="[[offers.sRdetail.promo_url]]" class="booknow">Book Special</a>
          <a href="tel:844.591.5565"><img src="/assets/images/offers/phone-icon.png" alt="phone icon">Phone</a>
          <a href="mailto:reservations@mansfieldhotel.com"><img src="/assets/images/offers/email-icon.png" alt="email icon">Email</a>
        </div>

      </div>
    </div>
  </div>
</section>

{% include offers-carousel.html %}
