<div id="carouselHomebanner" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselHomebanner" data-slide-to="0" class="active"></li>
    <li data-target="#carouselHomebanner" data-slide-to="1"></li>
    <li data-target="#carouselHomebanner" data-slide-to="2"></li>
    <li data-target="#carouselHomebanner" data-slide-to="3"></li>
    <li data-target="#carouselHomebanner" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" style="background: url(/assets/images/homecarousel/01.jpg) no-repeat;"> </div>
    <div class="carousel-item" style="background: url(/assets/images/homecarousel/02.jpg) no-repeat;"> </div>
    <div class="carousel-item" style="background: url(/assets/images/homecarousel/03.jpg) no-repeat;"> </div>
    <div class="carousel-item" style="background: url(/assets/images/homecarousel/04.jpg) no-repeat;"> </div>
    <div class="carousel-item" style="background: url(/assets/images/homecarousel/05.jpg) no-repeat;"> </div>
  </div>
  <a class="carousel-control-prev" href="#carouselHomebanner" role="button" data-slide="prev"> <i class="fa fa-angle-left" aria-hidden="true"></i> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carouselHomebanner" role="button" data-slide="next"> <i class="fa fa-angle-right" aria-hidden="true"></i> <span class="sr-only">Next</span> </a> </div>
<div class="static-booking-widget">
  <div class="booking-widget-row">
    <div class="rate">
      <div class="best-rate">
        <h2>Best<br>
          Rate</h2>
      </div>
      <div class="tonight-rate"> <i>Tonight's Rate</i>
        <h2>$148</h2>
      </div>
    </div>
    <div class="booking-form">
      <form class="row">
        <div class="form-group col-sm-3">
          <label for="exampleInputEmail1">Arrival</label>
          <input type="date" class="form-control" id="Arrival" aria-describedby="emailHelp" placeholder="Arrival">
        </div>
        <div class="form-group col-sm-3">
          <label for="exampleInputEmail1">Departure</label>
          <input type="date" class="form-control" id="Departure" aria-describedby="emailHelp" placeholder="Departure">
        </div>
        <div class="form-group col-sm-3">
          <label for="exampleInputEmail1">Adults</label>
          <select class="custom-select form-control" aria-label="Adults" id="input_9" name="q9_adults" required>
            <option>01 Adult</option>
            <option>02 Adult</option>
            <option>03 Adult</option>
          </select>
        </div>
        <div class="form-group col-sm-3">
          <label for="exampleInputEmail1">Children</label>
          <select class="custom-select form-control" aria-label="Children" id="input_10" name="q10_children"  required>
            <option>00 Children</option>
            <option>01 Children</option>
            <option>02 Children</option>
            <option>03 Children</option>
            <option>04 Children</option>
            <option>05 Children</option>
          </select>
        </div>
      </form>
    </div>
    <div class="book-now-btn"> <a href="#">Book Now</a> </div>
  </div>
</div>
<!--<div class="brg packet-fluid">
  <div class="bar">
    <div class="slice-2 p-0 hidden-sm-down">
      <div class="red-bg">
        <h2>Best<br>
          Rate</h2>
      </div>
    </div>
    <div class="slice-7 p-0">
      <ul class="rates">
        <li>
          <p>Tonight's Rate<span>$148</span></p>
        </li>
        <li>
          <div class="packet-fluid">
            <div class="bar">
              <div class="slice-6"><span>Expedia.com  $159</span></div>
              <div class="slice-6"><span>Booking.com  $159</span></div>
              <div class="slice-6"><span>Orbitz.com  $159</span></div>
              <div class="slice-6"><span>Travelocity  $159</span></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="slice-3 p-0">
      <div class="booknow"><a href="#">Book Now</a></div>
    </div>
  </div>
</div>--> 
