<div class="splash-screen text-center" style="background-image: url(/assets/images/homecarousel/01.jpg);">
<div class="content">
<div class="spacer-bar"></div>
<a href="/" ><img src="/assets/images/logo.svg" class="logo" alt="The Mansfield Hotel"/></a>
<div class="spacer-bar"></div>
<h1>Enter a portal</h1>
<div class="spacer-bar"></div>
<h1>to a New York City</h1>
<div class="spacer-bar"></div>
<h1>of days gone by</h1>
<div class="dots m-auto"><i class="fa fa-circle" aria-hidden="true"></i> <i class="fa fa-circle" aria-hidden="true"></i> <i class="fa fa-circle" aria-hidden="true"></i></div> 
<a class="btn" href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
</div>
</div>