// .footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   /* Set the fixed height of the footer here */
//   height: 60px;
//   line-height: 60px; /* Vertically center the text there */
//   background-color: #f5f5f5;
// }
.newsletter-form{
	max-width:26.250em;
	@extend .m-auto;
	input, button{
		    border-radius: 0;
		    letter-spacing: .1rem;	   		

	}
	input{
		font-family:$site-font-italic;
		font-size:$type-size-3;
		color:$light-brown;
		font-style: italic;
	}

	button{
		text-transform:uppercase;
		background-color:$light-brown;
		font-family:$site-font-medium;
		font-size:$type-size-2 ;
		color:$white;
		text-transform:uppercase;
		letter-spacing: .1rem;
   		padding: 0 2rem;
   		cursor:pointer;

   		&:hover{
   		background-color:$main-heading-color;
   		}

	}
}
.details-footer{

	@extend .packet-fluid;
	max-width:1320px;
	background: $white;
	margin-top:4rem;
	z-index: 2;
	
	.details-row{
		@extend .bar;
	}
	h3{
		color:$main-heading-color;
	}
	.details-col{
		@extend .col-md-6;
		@extend .col-lg-3;	
		text-align:center;
		@include media-breakpoint-up(md) { 
			text-align:left;
		}	

		position:relative;		
		.details{
			border-right:1px solid $lighter-gray;
			padding-left: 1.2rem;


		}
	}
	p{
		font-family:$site-font-medium;
		margin:0;
	}
	a{
		color:$text-color;
		font-family:$brg-font-regular;
		font-size:$type-size-3;
		letter-spacing: .1rem;
	}
	.logo-container{
		
	 	background: $main-heading-color;
	.logo{
			    width: 14.5rem;
			    margin: 2rem 0;
			    display:block;
			    margin-left: -2.5rem;
		}
		
		.social-container{
			    position: absolute;
			    right: 0;
			    top: 0;
			    background: #d8d5d4;
			    bottom: 0;
			    max-width: 60px;
			    text-align: center;

			a{
				color:  $main-heading-color;
			    display: block;
			    padding: 0 1.2rem;
			    margin: .7rem 0;
			    
			}
		}	
	}
	
}	

.map-wrap{
	min-height:31rem;
}

/* only info css */
.footer{
	.only-info-main{
		//position: relative;
    	//bottom: -618px;
		.details-footer{
		    margin-top: -177px;
		    z-index:9;
		}
	}
}

