/*
   Typography
   ========================================================================== */

$headings-italic-font: "PlantinW01-LightItalic";
$site-font-regular: "Plantin W01";
$headings-bold-condensed-font: "PlantinW01-HeadlineBdCn";
$site-font-light: "Plantin W01 Light";
$site-font-light-italic: "PlantinW01-LightItalic";
$brg-font-regular: "NeueHaasGroteskDispW01-55";
$list-headings-font: "Plantin W01 Semibold";
$site-font-medium: "NHaasGroteskDSW01-65Md";
$site-font-bold: "NHaasGroteskDSW01-75Bd";
$site-font-italic:"NHaasGroteskDSW01-46LtI";

/* systrem typefaces */
$serif                      : Georgia, Times, serif !default;
$sans-serif                 : -apple-systrem, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif !default;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia                    : Georgia, serif !default;
$times                      : Times, serif !default;
$bodoni                     : "Bodoni MT", serif !default;
$calisto                    : "Calisto MT", serif !default;
$garamond                   : Garamond, serif !default;

$global-font-family         : "Plantin W01" !default;
$header-font-family         : "PlantinW01-LightItalic" !default;
$caption-font-family        : "Plantin W01 Semibold" !default;

$font-size-base             : 1rem !default; // Assumes the browser default, typically `16px`

/* type scale customized */
$type-size-13                : 3.750rem !default;  // ~60px
$type-size-12                : 2.813rem !default;  // ~45px
$type-size-11                : 2.188rem !default;  // ~35px
$type-size-10                : 1.875rem !default;  // ~30px
$type-size-9                 : 1.563rem !default;  // ~25px
$type-size-8                 : 1.375rem !default;  // ~22px
$type-size-7                 : 1.250rem !default;  // ~20px
$type-size-6                 : 1.125rem !default;  // ~18px
$type-size-5                 : 1rem !default;      // ~16px
$type-size-4                 : 0.938rem !default;  // ~15px
$type-size-3                 : 0.875rem !default;  // ~14px
$type-size-2                 : 0.75rem !default;   // ~12px
$type-size-1                 : 0.6875rem !default; // ~11px
$type-size-0                 : 0.625rem !default;  // ~10px


/*
   Colors
   ========================================================================== */

$gray                       : #7a8288 !default;
$dark-gray                  : mix(#000, $gray, 40%) !default;
$darker-gray                : mix(#000, $gray, 60%) !default;
$light-gray                 : mix(#fff, $gray, 50%) !default;
$lighter-gray               : mix(#fff, $gray, 75%) !default;
$lightest-gray              : #f7f7f7 !default;
$white						: #fff !default;
$black						: #000 !default;

/*Custom colors*/

$body-color                 : #fff !default;
$background-color           : #f7f7f7 !default;
$text-color                 : #393838 !default;
$main-heading-color			: #500503 !default;
$heading-color				: #000000 !default;
$sub-heading-color			: #eb0700 !default;
$rate-text-color			: #d8c093 !default;
$dark-bg					: #251414 !default;
$panel-bg					: #4a0706 !default;
$border-color               : $lighter-gray !default;
$light-brown                : #7d7572;
$mid-brown                  : #3a2b2b;
$mid-dark-bg				: #611e1c;
$red                        : #ee2c26;
$active-clr                 : #453737;
/*button default colors*/

$primary-color              : #7a8288 !default;
$success-color              : #62c462 !default;
$warning-color              : #f89406 !default;
$danger-color               : #ee5f5b !default;
$info-color                 : #007a9c !default;
$light-choco                : #443636;

/* brands */
$facebook-color             : #3b5998 !default;
$google-plus-color          : #dd4b39 !default;
$instagram-color            : #517fa4 !default;
$pinterest-color            : #cb2027 !default;
$twitter-color              : #55acee !default;
$youtube-color              : #bb0000 !default;

/* links */
$link-color                 : $info-color !default;
$link-color-hover           : mix(#000, $link-color, 25%) !default;
$link-color-visited         : mix(#fff, $link-color, 25%) !default;
$trans-red                  : rgba(237, 31, 25, .9);
$trans-main-color           : rgba(80, 5, 3, .9);
$trans-choco                : rgba(37, 20, 20, .9);

/*
   Other
   ========================================================================== */

$border-radius              : 4px !default;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125) !default;
$global-transition          : all 0.2s ease-in-out !default;
