/*
   Typography
   ========================================================================== */
	@font-face{
        font-family:"NHaasGroteskDSW01-45Lt";
        src:url("/assets/fonts/d5211394-289b-4a20-a4c5-69e82b7f1cdc.eot?#iefix");
        src:url("/assets/fonts/d5211394-289b-4a20-a4c5-69e82b7f1cdc.eot?#iefix") format("eot"),url("/assets/fonts/fcd607c0-74ab-4cb5-90c3-db118b1ad287.woff2") format("woff2"),url("/assets/fonts/5f644ac3-aa3c-43a7-ae6e-79075f4766df.woff") format("woff"),url("/assets/fonts/88228648-8c26-4d51-a51b-f92564a92392.ttf") format("truetype"),url("/assets/fonts/24bd485c-6511-4e93-91d9-4764d66fc2df.svg#24bd485c-6511-4e93-91d9-4764d66fc2df") format("svg");
    }
    @font-face{
        font-family:"NHaasGroteskDSW01-46LtI";
        src:url("/assets/fonts/fd2e3761-c999-471d-b209-c013806ce5ed.eot?#iefix");
        src:url("/assets/fonts/fd2e3761-c999-471d-b209-c013806ce5ed.eot?#iefix") format("eot"),url("/assets/fonts/5a2559cb-b252-4f39-b9e2-2e2c77a049aa.woff2") format("woff2"),url("/assets/fonts/239e886e-b26d-434c-a759-5634db057d21.woff") format("woff"),url("/assets/fonts/800afec3-e81b-4aed-b6fe-0f6fa9076ff1.ttf") format("truetype"),url("/assets/fonts/97db66b3-98ce-4780-8c53-e5421a79524a.svg#97db66b3-98ce-4780-8c53-e5421a79524a") format("svg");
    }
    @font-face{
        font-family:"NeueHaasGroteskDispW01-55";
        src:url("/assets/fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix");
        src:url("/assets/fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix") format("eot"),url("/assets/fonts/1d2142cb-3e68-48df-b188-f1ac45a47a8b.woff2") format("woff2"),url("/assets/fonts/9dc6c76b-0260-4292-af1d-0bc9eecbded2.woff") format("woff"),url("/assets/fonts/ed18aa48-557e-4d1f-a53c-58399a7c1bc4.ttf") format("truetype"),url("/assets/fonts/5b9068b3-d518-4b0a-a5a2-1aa25714df22.svg#5b9068b3-d518-4b0a-a5a2-1aa25714df22") format("svg");
    }
    @font-face{
        font-family:"NHaasGroteskDSW01-56It";
        src:url("/assets/fonts/016417eb-25bd-4b80-a60d-2dacbb7f648b.eot?#iefix");
        src:url("/assets/fonts/016417eb-25bd-4b80-a60d-2dacbb7f648b.eot?#iefix") format("eot"),url("/assets/fonts/a28c06ea-8829-467a-a7be-4ffdfba4247b.woff2") format("woff2"),url("/assets/fonts/3293834c-c7fe-4d69-a914-f94198711fe4.woff") format("woff"),url("/assets/fonts/65b936e2-311a-4b71-bf88-b03362853c0f.ttf") format("truetype"),url("/assets/fonts/8ab5cb54-50ea-4912-8521-79357a3b8131.svg#8ab5cb54-50ea-4912-8521-79357a3b8131") format("svg");
    }
    @font-face{
        font-family:"NHaasGroteskDSW01-65Md";
        src:url("/assets/fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix");
        src:url("/assets/fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix") format("eot"),url("/assets/fonts/75e1af8f-1a4c-475a-8b53-f27e52822b6b.woff2") format("woff2"),url("/assets/fonts/2ba6fbd5-9c17-4733-af15-f49fbecc5c15.woff") format("woff"),url("/assets/fonts/7dcf6c37-4fb4-4211-9808-6a39bfa89e0d.ttf") format("truetype"),url("/assets/fonts/1baaf9ba-feec-45ca-a826-7bcf9f8e5b21.svg#1baaf9ba-feec-45ca-a826-7bcf9f8e5b21") format("svg");
    }
    @font-face{
        font-family:"NHaasGroteskDSW01-66MdI";
        src:url("/assets/fonts/48906e2a-bd50-495b-b01c-e197d63ffa16.eot?#iefix");
        src:url("/assets/fonts/48906e2a-bd50-495b-b01c-e197d63ffa16.eot?#iefix") format("eot"),url("/assets/fonts/57974581-bbc7-4288-9512-600df67cfe32.woff2") format("woff2"),url("/assets/fonts/071a68ca-9b4b-44c3-a81f-5e63580800b8.woff") format("woff"),url("/assets/fonts/3465d745-f731-442a-bd61-8749897a3002.ttf") format("truetype"),url("/assets/fonts/bbe56dc8-c447-42aa-84e4-389e6d84e264.svg#bbe56dc8-c447-42aa-84e4-389e6d84e264") format("svg");
    }
    @font-face{
        font-family:"NHaasGroteskDSW01-75Bd";
        src:url("/assets/fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix");
        src:url("/assets/fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix") format("eot"),url("/assets/fonts/c24b7456-b9fe-40ab-94af-ba8d3025fada.woff2") format("woff2"),url("/assets/fonts/da47ecd2-feea-403e-b247-9f8f5bb5157b.woff") format("woff"),url("/assets/fonts/0deba34f-9242-462b-a359-74e95714f821.ttf") format("truetype"),url("/assets/fonts/31c5f190-f4d8-436b-99bf-0561dd448586.svg#31c5f190-f4d8-436b-99bf-0561dd448586") format("svg");
    }
    @font-face{
        font-family:"Plantin W01 Light";
        src:url("/assets/fonts/1a3074c0-1dfa-4c4a-9ab7-ba43a8c9da76.eot?#iefix");
        src:url("/assets/fonts/1a3074c0-1dfa-4c4a-9ab7-ba43a8c9da76.eot?#iefix") format("eot"),url("/assets/fonts/59e2b46f-b32c-470f-a4df-0ceb98303462.woff2") format("woff2"),url("/assets/fonts/c046bc03-14a3-495c-9044-bf4e3d1f42b2.woff") format("woff"),url("/assets/fonts/66f7785c-7a09-4fec-adc6-67510f73c305.ttf") format("truetype"),url("/assets/fonts/e65cd52b-7573-41b6-adb9-171afa04e0df.svg#e65cd52b-7573-41b6-adb9-171afa04e0df") format("svg");
    }
    @font-face{
        font-family:"PlantinW01-LightItalic";
        src:url("/assets/fonts/4315b58b-9cde-4a58-babb-c50c36d8c8dd.eot?#iefix");
        src:url("/assets/fonts/4315b58b-9cde-4a58-babb-c50c36d8c8dd.eot?#iefix") format("eot"),url("/assets/fonts/c4b6c76b-0447-477a-9a0e-811df77911fb.woff2") format("woff2"),url("/assets/fonts/18bc7daa-a9ae-423a-b9d5-b0ebf7c377c2.woff") format("woff"),url("/assets/fonts/e25c36c7-2865-4994-b8b7-3369dda3fe1d.ttf") format("truetype"),url("/assets/fonts/c7ad5855-40ca-42c1-aebc-5731468115fd.svg#c7ad5855-40ca-42c1-aebc-5731468115fd") format("svg");
    }
    @font-face{
        font-family:"Plantin W01 Semibold";
        src:url("/assets/fonts/2dc45e40-4898-4eda-8766-a31636c1fe20.eot?#iefix");
        src:url("/assets/fonts/2dc45e40-4898-4eda-8766-a31636c1fe20.eot?#iefix") format("eot"),url("/assets/fonts/e70755fb-abd3-4157-a42c-b3fb59842712.woff2") format("woff2"),url("/assets/fonts/e4225ef2-c093-41e9-b0f8-ef8e9c26ac7d.woff") format("woff"),url("/assets/fonts/fb73c277-a9e2-4fcb-9205-191bdbd85fba.ttf") format("truetype"),url("/assets/fonts/859f0b7b-97c6-4cae-86db-b6f0c4197429.svg#859f0b7b-97c6-4cae-86db-b6f0c4197429") format("svg");
    }
    @font-face{
        font-family:"PlantinW01-SemiboldItal";
        src:url("/assets/fonts/babf0326-8288-4342-aaac-ae34b1eb5da0.eot?#iefix");
        src:url("/assets/fonts/babf0326-8288-4342-aaac-ae34b1eb5da0.eot?#iefix") format("eot"),url("/assets/fonts/ea150f27-ec0c-462d-94d7-86c5675b1f53.woff2") format("woff2"),url("/assets/fonts/01e5926a-08ef-41d2-add4-72fd196b24ea.woff") format("woff"),url("/assets/fonts/7c66afcf-c217-4401-bbfa-65dd25db39aa.ttf") format("truetype"),url("/assets/fonts/2fe0fac3-31de-4201-8aaf-caf6a423e4a6.svg#2fe0fac3-31de-4201-8aaf-caf6a423e4a6") format("svg");
    }
    @font-face{
        font-family:"PlantinW01-BoldCondense";
        src:url("/assets/fonts/228501ef-6fbe-4e21-b6c4-4b9c4b3bc603.eot?#iefix");
        src:url("/assets/fonts/228501ef-6fbe-4e21-b6c4-4b9c4b3bc603.eot?#iefix") format("eot"),url("/assets/fonts/2a6c6fe0-9e61-441a-8ad6-13617684b9b6.woff2") format("woff2"),url("/assets/fonts/15b63914-0780-4a5c-b14d-4fd551abc575.woff") format("woff"),url("/assets/fonts/0495e08f-35a2-438c-81f9-ba6e75543dc8.ttf") format("truetype"),url("/assets/fonts/b0ed65dd-288a-4702-9d1f-0d60fd03f678.svg#b0ed65dd-288a-4702-9d1f-0d60fd03f678") format("svg");
    }
    @font-face{
        font-family:"PlantinW01-HeadlineBdCn";
        src:url("/assets/fonts/c123196d-57d0-4490-9f03-8f1a86a7d769.eot?#iefix");
        src:url("/assets/fonts/c123196d-57d0-4490-9f03-8f1a86a7d769.eot?#iefix") format("eot"),url("/assets/fonts/82d3156a-9c0f-4105-8c46-8a4ed0260e84.woff2") format("woff2"),url("/assets/fonts/4d17d2ab-0d6b-4424-8da2-998b712c40bb.woff") format("woff"),url("/assets/fonts/bb3b7ea3-fc06-4568-b1f9-6b656f99688e.ttf") format("truetype"),url("/assets/fonts/3347eaec-81a0-457f-b047-377eef58d183.svg#3347eaec-81a0-457f-b047-377eef58d183") format("svg");
    }
    @font-face{
        font-family:"Plantin W01";
        src:url("/assets/fonts/edef9783-f31d-432c-b185-6c740f57581c.eot?#iefix");
        src:url("/assets/fonts/edef9783-f31d-432c-b185-6c740f57581c.eot?#iefix") format("eot"),url("/assets/fonts/ff323154-2621-4340-9bbd-94594b3eb43d.woff2") format("woff2"),url("/assets/fonts/c0298116-5d2e-4005-8ffa-0c4f6e267cb8.woff") format("woff"),url("/assets/fonts/f8f5f55c-fe22-41d0-af7a-e8a8b7a73515.ttf") format("truetype"),url("/assets/fonts/615272da-6b84-4070-9cbc-f94c312e8c4c.svg#615272da-6b84-4070-9cbc-f94c312e8c4c") format("svg");
    }
    @font-face{
        font-family:"Plantin W01 Italic";
        src:url("/assets/fonts/0ec522d5-f2b6-497a-9e2c-d81be1d14204.eot?#iefix");
        src:url("/assets/fonts/0ec522d5-f2b6-497a-9e2c-d81be1d14204.eot?#iefix") format("eot"),url("/assets/fonts/0eaaceb9-20d4-404b-999c-b9f409e4bde1.woff2") format("woff2"),url("/assets/fonts/2107c143-ba56-4728-8762-7b5a86b6358f.woff") format("woff"),url("/assets/fonts/cc40e96d-12c8-46bc-8688-ece821f02a23.ttf") format("truetype"),url("/assets/fonts/70790672-019a-46fb-a178-5062ff15b519.svg#70790672-019a-46fb-a178-5062ff15b519") format("svg");
    }
    @font-face{
        font-family:"Plantin W01 Bold";
        src:url("/assets/fonts/1f355959-6c0d-4d7b-b85e-73d60bf24e76.eot?#iefix");
        src:url("/assets/fonts/1f355959-6c0d-4d7b-b85e-73d60bf24e76.eot?#iefix") format("eot"),url("/assets/fonts/9744ff15-ba0e-428f-90cb-a012964dffcd.woff2") format("woff2"),url("/assets/fonts/e0d7df89-4fe6-47f2-af62-b83cdf2e8d0a.woff") format("woff"),url("/assets/fonts/1b513c70-7b4a-412f-9fb9-7145eb6be8bc.ttf") format("truetype"),url("/assets/fonts/07abf508-cb5a-48f8-942b-a79002a9717e.svg#07abf508-cb5a-48f8-942b-a79002a9717e") format("svg");
    }
    @font-face{
        font-family:"Plantin W01 Bold Italic";
        src:url("/assets/fonts/da9812ef-ecf4-4f53-b56f-73bf94337109.eot?#iefix");
        src:url("/assets/fonts/da9812ef-ecf4-4f53-b56f-73bf94337109.eot?#iefix") format("eot"),url("/assets/fonts/b8164b13-ddb9-4059-89a5-08b2966452da.woff2") format("woff2"),url("/assets/fonts/e8ce04ff-9df9-419a-ba35-21744139769c.woff") format("woff"),url("/assets/fonts/9afbc2b1-16c3-442f-9ab9-40a06e6a83a9.ttf") format("truetype"),url("/assets/fonts/3c6b306c-eae7-4d35-a0e2-aca6cdaf2f73.svg#3c6b306c-eae7-4d35-a0e2-aca6cdaf2f73") format("svg");
    }

/* Custom typefaces */

$headings-italic-font: "PlantinW01-LightItalic";
$site-font-regular: "Plantin W01";
$headings-bold-condensed-font: "PlantinW01-HeadlineBdCn";
$site-font-light: "Plantin W01 Light";
$site-font-light-italic: "PlantinW01-LightItalic";
$brg-font-regular: "NeueHaasGroteskDispW01-55";
$list-headings-font: "Plantin W01 Semibold";
$site-font-medium: "NHaasGroteskDSW01-65Md";
$site-font-bold: "NHaasGroteskDSW01-75Bd";

/* systrem typefaces */
$serif                      : Georgia, Times, serif !default;
$sans-serif                 : -apple-systrem, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif !default;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia                    : Georgia, serif !default;
$times                      : Times, serif !default;
$bodoni                     : "Bodoni MT", serif !default;
$calisto                    : "Calisto MT", serif !default;
$garamond                   : Garamond, serif !default;

$global-font-family         : "Plantin W01" !default;
$header-font-family         : "PlantinW01-LightItalic" !default;
$caption-font-family        : "Plantin W01 Semibold" !default;

$font-size-base             : 1rem !default; // Assumes the browser default, typically `16px`

/* type scale customized */
$type-size-13                : 3.750rem !default;  // ~60px
$type-size-12                : 2.813rem !default;  // ~45px
$type-size-11                : 2.188rem !default;  // ~35px
$type-size-10                : 1.875rem !default;  // ~30px
$type-size-9                 : 1.563rem !default;  // ~25px
$type-size-8                 : 1.375rem !default;  // ~22px
$type-size-7                 : 1.250rem !default;  // ~20px
$type-size-6                 : 1.125rem !default;  // ~18px
$type-size-5                 : 1rem !default;      // ~16px
$type-size-4                 : 0.938rem !default;  // ~15px
$type-size-3                 : 0.875rem !default;  // ~14px
$type-size-2                 : 0.75rem !default;   // ~12px
$type-size-1                 : 0.6875rem !default; // ~11px
$type-size-0                 : 0.625rem !default;  // ~10px


/*
   Colors
   ========================================================================== */

$gray                       : #7a8288 !default;
$dark-gray                  : mix(#000, $gray, 40%) !default;
$darker-gray                : mix(#000, $gray, 60%) !default;
$light-gray                 : mix(#fff, $gray, 50%) !default;
$lighter-gray               : mix(#fff, $gray, 75%) !default;
$lightest-gray              : #f7f7f7 !default;
$white						: #fff !default;
$black						: #000 !default;

/*Custom colors*/

$body-color                 : #fff !default;
$background-color           : #f7f7f7 !default;
$text-color                 : #393838 !default;
$main-heading-color			: #500503 !default;
$heading-color				: #000000 !default;
$sub-heading-color			: #eb0700 !default;
$rate-text-color			: #d8c093 !default;
$dark-bg					: #251414 !default;
$panel-bg					: #4a0706 !default;
$border-color               : $lighter-gray !default;
$light-brown                : #7d7572;
$mid-brown                  : #3a2b2b;
$mid-dark-bg				: #611e1c;

/*button default colors*/

$primary-color              : #7a8288 !default;
$success-color              : #62c462 !default;
$warning-color              : #f89406 !default;
$danger-color               : #ee5f5b !default;
$info-color                 : #007a9c !default;
$light-choco                : #443636;

/* brands */
$facebook-color             : #3b5998 !default;
$google-plus-color          : #dd4b39 !default;
$instagram-color            : #517fa4 !default;
$pinterest-color            : #cb2027 !default;
$twitter-color              : #55acee !default;
$youtube-color              : #bb0000 !default;

/* links */
$link-color                 : $info-color !default;
$link-color-hover           : mix(#000, $link-color, 25%) !default;
$link-color-visited         : mix(#fff, $link-color, 25%) !default;
$trans-red                  : rgba(237, 31, 25, .9);
$trans-main-color           : rgba(80, 5, 3, .9);
$trans-choco                : rgba(37, 20, 20, .9);

/*
   Other
   ========================================================================== */

$border-radius              : 4px !default;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125) !default;
$global-transition          : all 0.2s ease-in-out !default;
